@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,400;1,600&display=swap');


:root {
  font-family: 'Bai Jamjuree', sans-serif;
  box-sizing: border-box;
  --font-regular: 200;
  --font--medium: 400;
  --font-bold: 600;
}
*::after
*::before{
  box-sizing: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

h1, p{
  margin-top: 0;
  margin-bottom: 0;
  
}

button {
  font-family: 'Bai Jamjuree', sans-serif;
  cursor: pointer;
  color: #727171;
}
